@model FiltersModel
@inject Database.SolforbDbContext DbContext
@{
    ViewData["Title"] = "Главная";
    var orderNumbers = DbContext.GetDistinctOrderNumbers();
    var providersId = DbContext.GetProvidersId();
    var itemsNames = DbContext.GetDistinctItemNames();
    var itemsQuantities = DbContext.GetDistinctItemQuantities();
    var itemsUnits = DbContext.GetDistinctItemUnits();
    var providersNames = DbContext.GetProvidersName();
}
<style>
    div div p {
        height:27px
    }
</style>
<div class="text-center">
    <form asp-action="Filter" asp-controller="Home">
        <div class="row">
            <div class="col-3">
                <a class="btn btn-primary" asp-controller="Create" asp-action="Order">
                    Добавить заказ
                </a>
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-primary">
                        Отфильтровать
                </button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col col-sm-4 col-md-3 col-lg-2">
                <p>С</p>
                <input type="date" id="firstDatePicker" asp-for="FirstDate"/>
                <p>По</p>
                <input type="date" id="secondDatePicker" asp-for="SecondDate"/>
            </div>
            <div class="col col-sm-4 col-md-3 col-lg-2">
                <p>Order Number</p>
                <select class="form-select" aria-label="size 5 multiple select example" size="4" multiple asp-for="OrdersNumbers">
                    @foreach (var orderNumber in orderNumbers)
                    {
                        <option value="@orderNumber">@orderNumber</option>
                    }
                </select>
            </div>
            <div class="col col-sm-4 col-md-3 col-lg-1">
                <p>ProviderId</p>
                <select class="form-select" aria-label="size 5 multiple select example" size="4" multiple asp-for="ProvidersId">
                    @foreach (var providerId in providersId)
                    {
                        <option value="@providerId">@providerId</option>
                    }
                </select>
            </div>
            <div class="col col-sm-4 col-md-3 col-lg-2">
                <p>Item Name</p>
                <select class="form-select" aria-label="size 5 multiple select example" size="4" multiple asp-for="ItemsNames">
                    @foreach (var itemsName in itemsNames)
                    {
                        <option value="@itemsName">@itemsName</option>
                    }
                </select>
            </div>
            <div class="col col-sm-4 col-md-3 col-lg-1">
                <p>Item Quantity</p>
                <select class="form-select" aria-label="size 5 multiple select example" size="4" multiple asp-for="ItemsQuantities">
                    @foreach (var itemQuantity in itemsQuantities)
                    {
                        <option value="@itemQuantity">@itemQuantity</option>
                    }
                </select>
            </div>
            <div class="col col-sm-4 col-md-3 col-lg-2">
                <p>Item Unit</p>
                <select class="form-select" aria-label="size 5 multiple select example" size="4" multiple asp-for="ItemsUnits">
                    @foreach (var itemsUnit in itemsUnits)
                    {
                        <option value="@itemsUnit">@itemsUnit</option>
                    }
                </select>
            </div>
            <div class="col col-sm-4 col-md-3 col-lg-2">
                <p>Provider Name</p>
                <select class="form-select" aria-label="size 5 multiple select example" size="4" multiple asp-for="ProvidersNames">
                    @foreach (var providerName in providersNames)
                    {
                        <option value="@providerName">@providerName</option>
                    }
                </select>
            </div>
        </div>
    </form>

    <div class="row">
        <table class="table table-hover">
            <thead>
               <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Number</th>
                  <th scope="col">Date</th>
                  <th scope="col">Provider Name</th>
                  <th scope="col">ProviderId</th>
                  <th scope="col">Count of items</th>
               </tr>
            </thead>
            <tbody>
                @foreach (var order in ViewBag.Orders)
                {
                    <tr onclick="location.href = 'Order/@order.Id'">
                        <th scope="row">@order.Id</th>
                        <td>@order.Number</td>
                        <td>@order.Date</td>
                        <td>@((await SolforbDbExtensions.GetProviderByIdAsync(DbContext, order.ProviderId)).Name)</td>
                        <td>@order.ProviderId</td>
                        <td>@order.OrderItems.ToArray().Length</td>
                    </tr>   
                }
            </tbody>
        </table>
    </div>
</div>
