@model Order
@inject Database.SolforbDbContext DbContext
@{
    ViewData["Title"] = "Заказ";
    Provider provider = await DbContext.GetProviderByIdAsync(Model.ProviderId);
}
<style>
    .form-text {
        color: red;
    }
</style>
<div class="row" id="itemsDiv">
    <h4>Заказ:</h4>
    <div class="row">
        <div class="col-1">
            Id: @Model.Id
        </div>
        <div class="col-3">
            Prodiver: @provider.Name
        </div>
        <div class="col-3">
            Number: @Model.Number
        </div>
        <div class="col-2">
            Date: @Model.Date
        </div>
        <div id="deleteOrder" class="col-3">
            <a class="btn btn-danger deleteItem">Удалить</a>
        </div>
    </div>
    <div class="row">
        <h4>Элементы заказа</h4>
      
            <div class="elementsOfOrder">
                @for (int i = 0; i < Model.OrderItems.Count(); i++)
                {
                    <div class="elementOrder ms-5 row">
                        <div class="col-3 mb-3">
                            <label class="form-label">Name</label>
                            <p>@Model.OrderItems[i].Name</p>
                            <div class="form-text">@ViewData[$"NameError{i}"]</div>
                        </div>
                        <div class="col-3 mb-3">
                            <label class="form-label">Quantity</label>
                            <p>@Model.OrderItems[i].Quantity</p>
                            <div class="form-text">@ViewData[$"QuantityError{i}"]</div>
                        </div>
                        <div class="col-3 mb-3">
                            <label class="form-label">Unit</label>
                            <p>@Model.OrderItems[i].Unit</p>
                            <div class="form-text">@ViewData[$"UnitError{i}"]</div>
                        </div>
                        <div class="col-3" style="margin-top: 32px;">
                            <a class="btn btn-danger deleteItem" id="@Model.OrderItems[i].Id">Удалить</a>
                        </div>


                    </div>
                }
            </div> 
            <a class="btn btn-success" asp-action="Item" asp-route-orderId="@Model.Id" asp-controller="Create">
                Добавить элемент
            </a>
            <button id="saveButton" class="btn btn-warning">
                Сохранить изменения элемеентов
            </button>
    </div>
</div>
<script src="~/lib/jquery/jquery.min.js"></script>
<script>
    $("#saveButton").click(function (event) {
        event.preventDefault();

    });
    $( ".deleteItem" ).click(function(event) {

        event.preventDefault();
        let itemId = event.target.id;
        $.ajax({
            url: '/Order/DeleteItem/' + itemId,
            type: 'DELETE',
            success: function(result) {
                location.reload(true);
            },
            error: function (result) {
                console.log(result);
            }
        });
    });
    $("#deleteOrder").click(function (event) {

        event.preventDefault();
        let orderId = @Model.Id;
        $.ajax({
            url: '/Order/DeleteOrder/' + orderId,
            type: 'DELETE',
            success: function (result) {
                window.location.replace(window.location.origin)
                //window.location.origin;
            },
            error: function (result) {
                console.log(result);
            }
        });
    });
</script>
